/validator_reports/**
/MESH-DATA-HOME/**
/transmitter_source/**
/transmitter_sent_messages/**
/simulator_saved_messages/**
/messages_for_validation/**
/logs/**
/all_evidence/**
version_string.txt
push_fhir_itk3_to_dockerhub.sh
